<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h3>Edit this Listing:</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" value=<%= listing.title %>>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control"><%= listing.description %></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Image</label>
            <input type="text" name="listing[image]" class="form-control" value=<%= listing.image %>>    
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="Price" class="form-label">Price</label>
                <input type="number" name="listing[price]" class="form-control" value=<%= listing.price %>>
            </div>
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" class="form-control" value=<%= listing.location %>>
            </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" class="form-control" value=<%= listing.country %>>
        </div>
        <!-- <input type="text" name="listing[title]" value=<%= listing.title %>><br><br>
        <textarea name="listing[description]"><%= listing.description %></textarea><br><br>
        <input type="text" name="listing[image]" value=<%= listing.image %>><br><br>
        <input type="number" name="listing[price]" value=<%= listing.price %>><br><br>
        <input type="text" name="listing[location]" value=<%= listing.location %>><br><br>
        <input type="text" name="listing[country]" value=<%= listing.country %>><br><br> -->
        <button class="btn btn-dark add-btn mt-3">Edit</button><br><br>
    </form>
</div>
</div>
</body>